*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 3.6em;
    font-weight: bolder;
    text-align: center;
}
/*
-----------------------------------------------
                BOTONERA
-----------------------------------------------
*/
.wrapper-nav{
    position: absolute;
    width: 100%;
}
.botonera{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:3;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.logo img{
    margin-right: 10px;
}
.botonera .logo{
	margin-left: 2%;
	font-weight: bolder;
    font-size: 1.0em;
    color: white;
}
.botonera-lista{
    list-style-type: none;
    display: flex;
    width: 35%;
	margin-right: 2%;
}
.botonera-lista li{
    flex-grow: 1;
    margin-right: 0,5em;
	margin-left: 20px;
	border-radius: 20px;
}
.botonera-lista a{
    text-align: center;
    display: block;
	padding: 6px 24px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 2.0px solid white;
    transition: background, border, 0.4s;
}
.botonera-lista a:hover{
	background: #0b1058;
    border: 2.0px solid #0b1058;
}
@media screen and (max-width: 1600px) {
    .botonera-lista{
        width: 40%;
    }
}
@media screen and (max-width: 1400px) {
    .botonera{
        width: 100%;
    }
    .formulario{
        width: 80%;
        }
    }
@media screen and (max-width: 1300px) {
    .botonera{
        width: 100%;
    }
    .botonera-lista{
        width: 50%;
    }
    .formulario{
        width: 80%;
        }
    }
@media screen and (max-width: 1000px) {
    .botonera-lista{
        width: 60%;
    }
    .form-inline{
        flex-direction: column;
        padding-bottom: 5px;
        }
    }
@media screen and (max-width: 580px) {
    h2 {
        font-size: 3em;
    }
    button{
        font-size: 0.8em;
        padding: 3px 10px;
        font-weight: bold;
        }
    }
@media screen and (max-width: 480px){
    .formulario{
        width:98%;
        }
    .form-inline{
        padding-bottom: 2px;
        }
    }
/*
-----------------------------------------------
                CABECERA
-----------------------------------------------
*/
.servicios{
    width: 100%;
    height: 69em;
    background: url(img/fondo-01.jpg) no-repeat center center;
    background-size: cover;
}
.servicios h1{
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 16.5%;
    color:  rgba(164, 209, 226, 0.658);
    font-size: 6em;
	font-weight: bolder;
}
.servicios p{
	position: absolute;
    z-index: 1;
	top: 40%;
    left: 20%;
    color: white;
	width: 25%;
	padding-left: 25px;
	border-left: solid;
}
.servicios img{
    position: absolute;
    z-index: 2;
    top: 20%;
    right: 15%;
    height: 60%;
}

/*
-----------------------------------------------
                INFO PERSONAL
-----------------------------------------------
*/
.sobre-mi{
    max-width: 1250px;
    width: 78%;
    height: 60em;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10em;
    margin-bottom: 10em;
    position: relative;
}
.sobre-mi h3{
    font-size: 5em;
	font-weight: bolder;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 3;
    top: 120px;
    left: 20px;
}
.sobre-mi figure{
    height: 200px;
}
.sobre-mi img{
    width: 350px;
    height: 480px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 40px;
}
.sobre-mi p{
	background: rgba(50, 50, 50, 0.52);
	color: lightgrey;
	max-width: 500px;
    width: 60%;
    height: 400px;
    padding: 4em 2.2em;
    position: absolute;
    z-index: 2;
    right: 160px;
    top: 25em;
}
/*
-----------------------------------------------
                PORTFOLIO
-----------------------------------------------
*/
.contenedor{
    width: 80%;
    height:210;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 40px;
}
.slider{
    width: 10000px;
}
.slider img{
    margin-left:20px; 
}
/*
-----------------------------------------------
                FORMULARIO
-----------------------------------------------
*/
.formulario{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8em;
    padding-bottom: 10em;
    clear: both;
    font-family: 'Roboto', sans-serif;
}
label{
    visibility: hidden;
}
input{
    height: 40px;
}
.form-inline{
	display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.form-inline .form-group{
    flex-basis: 31%;
    height: 2em;
} 
.form-text {
    width: 100%;
    border: 1px solid rgba(50, 50, 50, 0.288);
    border-radius: 3px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 0.9em;
}
.form-message {
    padding: 20px;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    padding: 4px 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgba(255, 253, 253, 0);
    border: 2.0px solid #0b1058;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    transition: background 0.4s;
    color: #0b1058;
}
button:hover{
    background-color: rgba(19,63,115,1.00);
    cursor: pointer;
    color: white;
}
/*
-----------------------------------------------
                    pie
-----------------------------------------------
*/
.pie{
	padding-top: 3em;
    background: black;
	height: 10em;
}
.redes-lista{
	list-style-type: none;
	display: flex;
	justify-content: center;
	
}
.redes-lista li{
	margin-right: 0.8em;
}
.redes-lista a{
    color:darkgrey;
    display: block;
    font-weight: bold;
	text-decoration: none;
}
.pie p{
	display: flex;
	justify-content: center;
	color: darkgrey;
	font-size: 0.8em;
}
/*
-----------------------------------------------
                    @media
-----------------------------------------------
*/
@media screen and (max-width: 1200px) and (min-width: 780px) {


.servicios img{
    position: absolute;
    z-index: 2;
    top: 20%;
    right: 20%;
	opacity: 0.8;
	}
    .servicios{
    width: 100%;
    height: 30em;
    }
    .servicios h1{
    font-size: 8em;
	top: 8%;
    left: 18%;
    }
	.servicios p{
	top: 30%;
    left: 18%;
	width: 40%;
	}
	.servicios img{
	width: 30%;
    top: 12%;
    right: 10%;
	opacity: 0.8;
}

}
@media screen and (max-width: 780px) and (min-width: 480px) {
    .servicios{
        width: 100%;
        height: 30em;
    }
    .servicios h1{
        font-size: 5em;
    }

}
@media screen and (max-width: 480px) {
    .servicios{
        width: 100%;
        height: 10em;
    }
    .servicios h1{
        font-size: 5em;
    }
}